.main{
    
    background: skyblue;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

}
.main h1{
    text-transform: uppercase;
}
.main figure img{
    margin-top: -65px;
    position: absolute;
    margin-left: 580px;
}
.navbar {
    float: right;
    margin-right: 100px;

   
}
.navbar a{
    text-decoration: none;
    padding: 5px;
    
}
h1{
    font-size: 35px;
    text-align: center;
    font-family: sans-serif;
}
.body{
    display: flex;
    width: 1200px;
    margin: auto;
}

i{
    margin-bottom:0px;
    margin-right:49px;
    float:right;
}

.boxtwo{
    margin-top: 100px;
    margin-bottom: 45px;
    width: 400px; 
    margin-right: 40px; 
}

.boxthree{
    margin-top: 100px;
    margin-bottom: 45px;
    background-image: peacock.jpeg;
    width: 400px;
    margin-right: 30px;
}

.boxfour{
    margin-top: 100px;
    margin-bottom: 45px;
    width: 400px;
    margin-right: 30px;
    
}
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bird.jpg");
  
    /* Set a specific height */
    height: 500px;
    width:1600px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


.last {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    padding: 10px;
    color: white;
    text-align: center;
 }
 .last a{
     color: black;
     text-decoration: none;
     padding: 5px;
     float: left;
 }