.main{
    
    background: skyblue;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

}
.main h1{
    text-transform: uppercase;
}
.main figure img{
    margin-top: -65px;
    position: absolute;
    margin-left: 580px;
}
.navbar {
    float: right;
    margin-right: 100px;

   
}
.navbar a{
    text-decoration: none;
    padding: 5px;
    
}
h1{
    font-size: 35px;
    text-align: center;
    font-family: sans-serif;
}
.body{
    display: flex;
    width: 1200px;
    margin: auto;
}

i{
    margin-bottom:0px;
    margin-right:49px;
    float:right;
}

.boxtwo{
    margin-top: 100px;
    margin-bottom: 45px;
    width: 400px; 
    margin-right: 40px; 
}

.boxthree{
    margin-top: 100px;
    margin-bottom: 45px;
    background-image: peacock.jpeg;
    width: 400px;
    margin-right: 30px;
}

.boxfour{
    margin-top: 100px;
    margin-bottom: 45px;
    width: 400px;
    margin-right: 30px;
    
}


.last {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    padding: 10px;
    color: white;
    text-align: center;
 }
 .last a{
     color: black;
     text-decoration: none;
     padding: 5px;
     float: left;
 }